@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;500;900&display=swap");

body {
  margin: 0;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f2f2f;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
